<!--
  KDP商品説明欄に貼り付けるHTML。
  KDPの商品説明では <h4>〜<h6> のみサポートされるため、本文は <h4>/<h5> を使う。
  構成は以下7セクション固定:
    1. <h4> フック
    2. <ul> 共感リスト
    3. <h5> + <p> 解決策
    4. <h5> + <ul> 本書で得られること
    5. <h5> + <ul> こんな方におすすめ
    6. <h5> + <p> CTA
    7. <h5> + <ul> 目次
-->

<h4>{{フック_読者の悩みに刺さる一文}}</h4>

<ul>
  <li>{{共感1}}</li>
  <li>{{共感2}}</li>
  <li>{{共感3}}</li>
  <li>{{共感4}}</li>
</ul>

<h5>{{解決策の見出し}}</h5>
<p>{{解決策の本文}}</p>

<h5>本書で得られること</h5>
<ul>
  <li>{{得られること1}}</li>
  <li>{{得られること2}}</li>
  <li>{{得られること3}}</li>
  <li>{{得られること4}}</li>
</ul>

<h5>こんな方におすすめ</h5>
<ul>
  <li>{{ターゲット1}}</li>
  <li>{{ターゲット2}}</li>
  <li>{{ターゲット3}}</li>
</ul>

<h5>{{CTA見出し}}</h5>
<p>{{CTAの本文_行動を促す一文}}</p>

<h5>目次</h5>
<ul>
  <li>{{章1}}</li>
  <li>{{章2}}</li>
  <li>{{章3}}</li>
  <li>{{章4}}</li>
  <li>{{章5}}</li>
</ul>
